///*
// * PANEl SETTINGS 
// * 
// * Mostly used in "modules/_panel.scss"
// */
//
//$panel-padding       : 1em                                    ;
$panel-background    : #0f4273;
$panel-border        : none                         ;
$panel-box-shadow    : none                            ;
//$panel-border-radius : $border-radius                         ;
//$panel-margin-bottom : $margin                                ;
//$panel-font-color    : auto                                   ;
//$panel-muted         : $background-color-muted                ; 
