//// Breakpoints
//$tablet-breakpoint: 768px;
//$mobile-breakpoint: 480px;
//$desktop-breakpoint: 1440px;
//
//// Grid variables
$row-width: 1000px;
//$is-row-centered: true;
//
//// Global variables
$border-radius: 0px;
//
//// Typography
//$line-height: 1.35em;
//$base-font-size: 15px;
//
//// Colours
//// Base Colour Settings 
$primary-color: #b10c00;
//$secondary-color: #888;
//$body-color: #333;
//
//// Background Colours
//$primary-background-color: $primary-color;
//$secondary-background-color: #eee;
//
//// Margins
//$margin: 1.5em;
//$margin-large: 2em;
//$margin-small: 1em;
//$margin-tiny: .5em;
//
//// Transitions
//$transition: .2s;
//
//// Box Shadows
//$box-shadow: 0 2px #ddd;
//
//// Min-width
//$min-width: 200px;
